body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  text-align: center;
}

#time-form {
  text-align: center;
}

label {
  font-weight: bold;
}

input[type="text"] {
  padding: 5px;
  margin: 5px;
  width: 200px;
}

button {
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#converted-time {
  margin-top: 10px;
  font-size: 18px;
}

#lbl{
  font-size: large;
}